<%- include('./partials/header.ejs')%>
    <main>
        <% if (locals.id) { %>
            <h1>
                <%= title %>
            </h1>

            <h2>
                <%= author %>
            </h2>

            <p>
                <%= description %>
            </p>

            <% } %>

                <form action="/delete-blog-post" method="POST">
                    <input type="hidden" name="id" value="<%= id %>">
                    <input type="submit" value="Delete post">
                </form>

    </main>
    <%- include('./partials/footer.ejs')%>